{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>PlayDate with Web - Day 28</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="{% static 'hackthe6ix/css/profile.css' %}">

  
</head>

<body>

  <div class="wrapper">
<!--   <div class="header">Github Profile</div> -->
  <a href="https://github.com/ajduke" target="_blank">
    <div class="profile-pic" style="background:url('https://avatars1.githubusercontent.com/u/1594650?v=3&s=460');background-size: cover;">
    </div>
  </a>
  
  <div class="name">Abhijeet S. Sutar</div>
  <div class="username">ajduke</div>
  <div class="about-me">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque maxime asperiores voluptatibus, animi, corporis dolor sequi quasi magni voluptas perferendis ipsa iste accusamus quis id illo tempore, debitis atque nemo!</div>
  
  <div class="stats">
    <div class="item followers">
      <span class="num">36</span>
      <div class="text">Followers</div>
    </div>
    <div class="item stars">
      <span class="num">622</span>
      <div class="text">Stars</div>
    </div>
    <div class="item following">
      <span class="num">177</span>
      <div class="text">Following</div>
    </div>
    <div class="item repos">
      <span class="num">177</span>
      <div class="text">Repositories</div>
    </div>
  </div>
  
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>




</body>

</html>
